ul {
  list-style-type: none;
}
body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.bg {
  background-image: url("assets/backgroud1.jpg");

  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -1;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 30%;
  margin: 0;
  z-index: 0;
}

nav.sticky{
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  z-index: 2;
}

h3{
  border-bottom: 2px solid #eeeeee;
  text-align: center;
  margin-top: 30px;
  font-size: xx-large;
  text-transform: uppercase;
}

.inst-img{
  max-width:200px;
}

.lugar{
  color: cadetblue;
  margin-top: -8px;
}

.trabajo, .escuela{
  margin-top: 30px;
}

.card{
  margin-bottom: 5px;
}

.navbar-nav{
  float:none;
  margin: 0 auto;
}

li.nav-item{
  
  padding-left: 20px;
  padding-right: 20px;

}

.nivel{
  float:right;
  color: goldenrod;
}

.card-header{
  font-weight: bold
}

.fa-envelope, .fa-linkedin, .fa-gitlab{
  margin-left: 5px;
  margin-right: 5px;
}

.institucion{
  color: grey;
  margin-bottom: 8px;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
}

.glow-white{
  text-shadow: 0px 0px 20px #fff;
}

.CVTitle{
  position: absolute;
  width: 100%;
  top: 20%;
}