<div class="jumbotron" style="margin-bottom:0" id="{{translate.sections[3].ref}}">
    <div class="row">
        <div class="col-sm-4">
            <h4>{{translate.sections[3].name}}</h4>
            <ul>
                <li>{{ data.basics.title }} {{ data.basics.name }}</li>
                <li><a href="printable{{ lan }}.html">{{translate.sections[3].printable}}</a></li>
                <li>
                    <a href="https://goo.gl/maps/Uxgu3qzBv9z" target="_blank"><i class="fas fa-map-marked-alt"></i></a> 
                    <a href="mailto:{{ data.basics.email }}"><i class="far fa-envelope"></i></a>
                    {% for prof in data.basics.profiles %}
                        <a href="{{ prof.url }}" target="_blank"><i class="{{ prof.icon }}"></i></a>
                    {% endfor %}
                </li>    
            </ul>
        </div>
        <div class="col-sm-4 offset-sm-4">
            <h4>{{translate.sections[4].name}}</h4>
            <ul>
                <li><a href="https://about.gitlab.com/product/pages/" target="_blank"> <img src="assets/favicon_gitlab.ico"
                            height="16"> GitLab Pages</a> </li>
                <li><a href="https://getbootstrap.com" target="_blank"> <img src="assets/favicon_bootstrap.ico"
                            height="16"> Bootstrap</a></li>
                <li><a href="https://fontawesome.com" target="_blank"> <img src="assets/favicon_fontawesome.png"
                            height="16"> Font Awesome </a></li>
                <li><a href="https://www.nathanielkoloc.com" target="_blank"> <img src="assets/favicon_nathaniel.jpg"
                            height="16"> Nathaniel Koloc</a></li>
                <li><a href="http://jinja.pocoo.org" target="_blank" > <img src="assets/favicon_jinja.png"
                    height="16"> Jinja2</a></li>
                <li><a href="http://www.thomashardy.me.uk" target="_blank" > <img src="assets/favicon_thomas.ico"
                    height="16"> Thomas Hardy</a></li>
            </ul>
        </div>
    </div>
</div>