<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky">
  <a class="navbar-brand" href="#">Irving Cabrera &nbsp;</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% for sec in translate.sections if sec.navbar %}
        <li class="nav-item">
          <a class="nav-link" href="#{{sec.ref}}">{{sec.name}}</a>
        </li>
      {% endfor  %}
    </ul>
  </div>
  <div style="float:right" class="text-white">
    {%if lan == 'ESP' %}
    <a href="eng.html" class="text-white">ENG</a>
    {% endif %}
    {%if lan == 'ENG' %}
    <a href="index.html" class="text-white">ESP</a>
    {% endif %}
  </div>
</nav>