<!DOCTYPE html>
<html>

<head>
	<title>{{ data.basics.nameShort }} - Curriculum Vitae</title>

	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="Curriculum Vitae of {{ data.basics.nameShort }}." />
	<meta charset="UTF-8">

	<link type="text/css" rel="stylesheet" href="printable.css">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

</head>

<body id="top">
	<div class="print-button quickFade delayFive" onclick="window.print();return false;" ><i class="fas fa-print"></i></div>
	<div id="cv" class="instaFade">
		<div class="mainDetails">
			<div id="headshot" class="quickFade">
				<img src="assets/{{ data.basics.picture }}" alt="{{ data.basics.nameShort }}" />
			</div>

			<div id="name">
				<h1 class="quickFade delayTwo">{{ data.basics.name1 }}</h1>
				<h2 class="quickFade delayThree">{{ data.basics.name2 }}</h2>
			</div>

			<div id="contactDetails" class="quickFade delayFour">
				<ul>
					<li><a href="https://goo.gl/maps/Uxgu3qzBv9z" target="_blank"><i class="fas fa-map-marked-alt"></i> {{ data.basics.location.city }}, {{ data.basics.location.countryCode }} </a> </li>
					<li><a href="mailto:{{ data.basics.email }}"><i class="far fa-envelope"></i> {{ data.basics.email }}</a></li>
					<li><a href="{{ data.basics.website }}" target="_blank"><i class="fas fa-globe-americas"></i> {{ data.basics.website }} </a></li>
					{% for prof in data.basics.profiles %}
						<li><a href="{{ prof.url }}" target="_blank"><i class="{{ prof.icon }}"></i> {{ prof.url }} </a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div id="mainArea" class="quickFade delayFive">

			<section>
				<div class="sectionTitle">
					<h1>{{translate.sections[0].name}}</h1>
				</div>

				<div class="sectionContent">
					{% for job in data.work %}
						<article>
							<h2>{{ job.position }}</h2>
							<p class="subDetails">{{job.startDate|datetimeformat(lan)}} {% if job.endDate %} - {{job.endDate|datetimeformat(lan)}} {% endif %}</p>
							<ul>
									{{translate.sections[0].responsibilities}}:
									{% for par in job.responsibilities %}
									<li> {{ par }}</li>
								{% endfor %}	
							</ul>
						</article>
					{% endfor %}
				</div>
				<div class="clear"></div>
			</section>

			<section id={{translate.sections[2].ref}}>
				<div class="sectionTitle">
					<h1>{{translate.sections[2].name}}</h1>
				</div>

				<div class="sectionContent">
					<ul class="keySkills">
						{% for skillSet in data.skillSets %}
							{% for skill in skillSet.skills|sort(true,attribute='level') %}
								{% if skill.level|int > 4 %}
									<li class="list-group-item">{{skill.name}}</li>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</ul>
				</div>
				<div class="clear"></div>
			</section>


			<section>
				<div class="sectionTitle">
					<h1>{{translate.sections[1].name}}</h1>
				</div>

				<div class="sectionContent">
					{% for school in data.education %}
						<article>
							<h2>{{school.institution}}</h2>
							<p class="subDetails">{{school.area}}</p>
							<p>
								{{translate.sections[1].courses}}:
								{% for cour in school.areas %}{% if loop.index != 1 %}, {% endif %}{{cour}}{% endfor %}.
							</p>
						</article>
          {% endfor %}
				</div>
				<div class="clear"></div>
			</section>

		</div>
	</div>

</body>

</html>