{% extends "base.html" %}
{% block content %}
<div class="bg container-fluid">
    <div class="row CVTitle">
        <div class="col-md-7 col-2"></div>
        <div class="col-md-5 col-9 text-center glow-white">
          <h3>
            {{translate.title}}
          </h3>
        </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-7 text-center" style="z-index: 1; background-color: white">
      <h2>
        {{ data.basics.summary }}
      </h2>
    </div>
    <div class="col-md-5 col-9 offset-2 offset-md-0 " style="z-index: 1">
      <img src="assets/{{ data.basics.picture }}" class="rounded img-thumbnail mx-auto d-block" alt="Fotografia" height="300" width="300">
    </div>
  </div>
</div>

<div class="row sticky">
  <div class="col-md-7 col-2"></div>
  <div class="col-md-5 col-9 text-center glow-white" >
    <h1>
      <div>{{ data.basics.name1 }} </div>
      <div> {{ data.basics.name2 }}</div>
    </h1>
  </div>
</div>


<div class="container">
  <div class="seccion" id="{{translate.sections[0].ref}}">
    <h3> {{translate.sections[0].name}} </h3>
    {% for job in data.work %}
    <div class="row trabajo">
      <div class="col-md-4">
        <img src="assets/{{ job.logo }}" class="mx-auto d-block img-fluid inst-img" alt="{{job.acronym}}">
      </div>
      <div class="col-md-8">
        <h4>{{ job.position }}</h4>
        <div class="lugar">{{job.place}} ( {{job.startDate|datetimeformat(lan)}} {% if job.endDate %} - {{job.endDate|datetimeformat(lan)}} {% endif %}) </div>
        <div class="institucion"> <a href="{{job.website}}" target="_blank">{{job.company}} ({{job.acronym}})</a>
        </div>
        {% for par in job.description %}
        <p>{{par}}</p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="seccion" id="{{translate.sections[1].ref}}">
    <h3>{{translate.sections[1].name}}</h3>
    {% for school in data.education %}
    <div class="row escuela">
      <div class="col-md-4">
        <img src="assets/{{school.logo}}" class="mx-auto d-block img-fluid inst-img" alt="{{school.logo}}">
      </div>
      <div class="col-md-8">
        <h4>{{school.studyType}} {{ translate.sections[1].in }} {{school.area}}</h4>
        <div class="lugar">{{school.place}} ({{school.startDate|datetimeformat(lan)}} - {% if school.endDate %} {{school.endDate|datetimeformat(lan)}}{% endif %})</div>
        <div class="institucion"><a href="{{school.website}}" target="_blank">{{school.institution}} </a> </div>
        <div> {{translate.sections[1].note}}: {{school.gpa}} </div>
        <div> {{translate.sections[1].courses}}:
          {% for cour in school.courses %}{% if loop.index != 1 %}, {% endif %}{{cour}}{% endfor %}.
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="seccion" id="{{translate.sections[2].ref}}">
    <h3>{{translate.sections[2].name}}</h3>
    <div class="container">
      <div class="row">
        {% set levels = [1,3,5,7,9] %}
        {% set colors = ["primary","secondary","success","danger","info","warning","dark"] %}
        {% for skillSet in data.skillSets %}
        <div class="col-sm-6 col-lg-4">
          <div class="card border-{{colors[loop.index0]}}">
            <div class="card-header border-{{colors[loop.index0]}} bg-{{colors[loop.index0]}} text-white">{{skillSet.name}}</div>
            <div class="card-block">
              <ul class="list-group list-group-flush">
                {% for skill in skillSet.skills|sort(true,attribute='level') %}
                <li class="list-group-item">{{skill.name}}
                  <span class="nivel">
                    {% for lev in levels %}
                    {% if skill.level|int < lev %} <i class="far fa-star"></i> {% endif %}
                    {% if skill.level|int == lev %} <i class="fas fa-star-half-alt"></i> {% endif %}
                    {% if skill.level|int > lev %} <i class="fas fa-star"></i> {% endif %}
                    {% endfor %}
                  </span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col-sm-6 col-lg-4">
          <div class="card border-{{colors[data.skillSets | length]}}">
            <div class="card-header border-{{colors[data.skillSets | length]}} bg-{{colors[data.skillSets | length]}}  text-white">{{translate.sections[2].languages | capitalize}}</div>
            <div class="card-block">
              <ul class="list-group list-group-flush">
                {% for lan in data.languages %}
                <li class="list-group-item">{{lan.language}}
                  <span class="nivel">
                    {% for lev in levels %}
                    {% if lan.fluency|int < lev %} <i class="far fa-star"></i>{% endif %}
                      {% if lan.fluency|int == lev %} <i class="fas fa-star-half-alt"></i>{%
                      endif %}
                      {% if lan.fluency|int > lev %} <i class="fas fa-star"></i>{% endif %}
                      {% endfor %}
                  </span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}